<template>
  <div>
     <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border mt-3">
            <a class="navbar-brand" href="#">Stock Trader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stocks</a>
                    </li>
                </ul>
                <button class="btn">End Day</button>
                <div class="input-group-prepend position-relative" :class="{show: showSaveLoad}">
                    <button class="btn dropdown-toggle" 
                            type="button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false" 
                            @click.stop="showSaveLoad = !showSaveLoad"
                            >Save & Load</button>
                    <div class="dropdown-menu" :class="{show: showSaveLoad}" ref="saveLoadDropDown">
                        <a class="dropdown-item" href="#">Save</a>
                        <a class="dropdown-item" href="#">Load</a>
                    </div>
                </div>
                <span>Funds: $10.000</span>
            </div>
        </nav>
    </div>   
  </div>
</template>

<script>
export default {
    data () {
        return {
            showSaveLoad: false
        }
    },
    created() {
        window.addEventListener('click', this.close)
    },
    beforeDestroy() {
        window.removeEventListener('click', this.close)
    },
    methods: {
        close(e) {
            if (e.target !== this.$refs.saveLoadDropDown) {
                this.showSaveLoad = false;
            }
        }
    } 
}

</script>