<template>
    <div class="container">
        <div class="content border my-3 py-3">
            <h2><b>Trade or View your Portfolio</b></h2>
            <p>You may Save & Load your Data</p>
            <p>Click on 'End Day' to begin a new Day!</p>
            <hr>
            <h5>Your Funds: $10.000</h5>
        </div>
    </div>
</template>