<template>
<div>
    <app-navigation></app-navigation>
    <app-portfolio></app-portfolio>
    <app-stocks :stocks="stocks"></app-stocks>
</div>
</template>

<script>
    import Navigation from './Components/Navigation.vue'
    import Portfolio from './Components/Portfolio.vue'
    import Stocks from './Components/Stocks.vue'
    export default {
        components: {
            'app-navigation': Navigation,
            'app-portfolio': Portfolio,
            'app-stocks': Stocks
        },
        data() {
            return {
                stocks: ['1', '2', '3']
            }
        }
    }
</script>

<style>
    .content {
        margin: 1em 0;
        padding: 2em 1em;
    }
</style>
